@using Microsoft.CodeAnalysis.CSharp.Syntax
@model IEnumerable<AnabelTrivia.Data.Question>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-controller="Home" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.QuestionText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Used)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.QuestionText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                <p>@item.Used</p>
                <input type="checkbox" disabled @(item.Used == "Y" ? "checked" : "")/>
            </td>
            <td>
                <a asp-controller="Home" asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-controller="Home" asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-controller="Home" asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
