@model AnabelTrivia.Data.Question

@{
    ViewData["Title"] = Model.Category;
}
    <h2>@Model.Category</h2>

<div>
    <hr/>
    <h1>@Model.QuestionText</h1>
</div>
<div>
    <h2>Pick another question:</h2>
    @foreach (var cat in ViewBag.Categories)
    {
        <a class="btn btn-primary @cat" asp-controller="Home" asp-action="Random" asp-route-category="@cat">@cat</a>
    }
</div>
